Repository petohubofficial/petohub: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint, prettier --write

feat: added prettier plugin
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

fix: lint-staged
  .lintstagedrc
  .lintstagedrc.js
Due: next lint, prettier --write

fix: cursor on header logo
  src/components/Header.tsx
Due: next lint, prettier --write

feat: added env in cd workflow
  .github/workflows/cd.yml
Due: none

fix: typo in cd workflow
  .github/workflows/cd.yml
Due: none

fix: syntax error cd workflow
  .github/workflows/cd.yml
Due: none

feat(ci-cd): updated workflow
  .github/workflows/ci-cd.yml
Due: none

fix(ci-cd): removed ci workflow
  .github/workflows/ci.yml
Due: none

feat(all): added products variations
  package.json
  src/components/dashboard/ProductForm.tsx
  src/components/formik/Autocomplete.tsx
  src/components/formik/TextField.tsx
  src/middlewares/withMulter.ts
  src/models/Product.model.ts
  src/pages/_app.tsx
  src/pages/admin/product/index.tsx
  src/pages/api/admin/product/index.ts
  src/pages/api/admin/user/index.ts
  src/pages/api/client/product.ts
  src/pages/api/product/index.ts
  src/pages/dashboard/product/index.tsx
  src/services/admin.service.ts
  src/services/client.service.ts
  src/services/public.service.ts
  src/theme/base.ts
  src/theme/dark.ts
  src/theme/light.ts
  src/types/common.ts
  src/types/product.ts
  src/types/review.ts
  src/types/service.ts
  src/types/user.ts
  src/utils/generateSKU.ts
  src/utils/parseFormData.ts
  yarn.lock
Due: next lint, prettier --write

fix(ci-cd): added password in scp action
  .github/workflows/ci-cd.yml
Due: none

fix(ci-cd): added password in ssh action + added yarn cache
  .github/workflows/ci-cd.yml
Due: none

fix(ci-cd): added next cache in actions
  .github/workflows/ci-cd.yml
Due: none

fix(ci-cd): target folder changed
  .github/workflows/ci-cd.yml
Due: none

fix(ci-cd): location global npm
  .github/workflows/ci-cd.yml
Due: none

feat(kyc): types, model & register API
  src/models/KYC.model.ts
  src/pages/api/auth/register.ts
  src/types/kyc.ts
  src/utils/deleteRemovedFiles.ts
  src/utils/getDescendantProp.ts
Due: next lint, prettier --write

feat: directory page banner added
  src/components/Ratings.tsx
  src/components/directory/Directories.tsx
  src/pages/directories/[username]/index.tsx
  src/services/public.service.ts
  src/theme/base.ts
  src/theme/dark.ts
  src/theme/light.ts
  src/utils/convertStars.ts
Due: next lint, prettier --write

feat(directories): directory page wip
  .eslintrc
  src/components/Header.tsx
  src/contexts/auth.tsx
  src/contexts/settings.tsx
  src/pages/directories/[username]/index.tsx
  src/theme/base.ts
  src/theme/dark.ts
  src/theme/light.ts
  src/utils/convertStars.ts
  tsconfig.json
  yarn.lock
Due: next lint, prettier --write

feat(directory): page wip
  .vscode/settings.json
  src/components/Ratings.tsx
  src/components/directory/Directories.tsx
  src/pages/api/inquiry/index.ts
  src/pages/directories/[username]/index.tsx
  src/services/public.service.ts
  src/theme/base.ts
  src/types/inquiry.ts
  src/utils/errorProps.ts
Due: next lint, prettier --write

Path conditions:
  next lint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,scss,md}
